* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: black;
}

ul {
  list-style: none;
}

.coinlist-image {
  width: 70px;
}

.coinlist-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.coinsummary {
  border-color: white;
  border-style: outset;
}

.coin-data-category {
  font-size: 10px;
}

.delete-icon {
  display: none;
  position: absolute;
  right: 6px;
}

.coin:hover .delete-icon {
  display: block;
}

@media only screen and (max-width: 800px) {
  .coinlist-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
